.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    bottom: 0;
    position: fixed;
    box-shadow: 0 0px 5px 2px rgba(64,60,67,.16);
}


.logo_footer a{
    display: flex;
    align-items: center;
    height: 100%;
}

.logo_footer img{
    align-items: center;
    margin-left: 136px;
    width: 70px;
    height: 70px;
}

.menu_footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 136px;
    width: 424px;
}

.menu_footer img{
    width: 40px;
    height: 40px;
}
